* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
.header_part {
  display: flex;
  justify-content: flex-end;
}
.docplaner_nav {
  display: flex;
  list-style: none;
  margin-right: 50pw;
}
ul {
  font-family: Arial, Verdana;
  font-size: 14px;
}
li a {
  color: #747474;
}
.dropdown {
  color: #747474;
}

.docplaner_nav li a {
  margin-right: 20px;
}

ul li {
  position: relative;
  float: left;
}
li ul {
  display: none;
}
ul li a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: #747474;
  margin-left: 1px;
  white-space: nowrap;
}
.dropdown-content ul li {
  list-style: none;
  padding: 5px;
  background-color: white;
}

ul li a:hover {
  background: #f7faf6;
  color: #00b39b;
  text-decoration: none;
}
.dropdown a:hover {
  background: #f7faf6;
  color: #00b39b;
}
li:hover ul {
  display: block;
  position: absolute;
}

li:hover a {
  background: #ffffff;
  color: #00b39b;
}
li:hover li a:hover {
  background: #e5e6e7;
  color: #00b39b;
}
/*logo*/
.logo-docplanner {
  width: 268px;
  height: 33px;
  position: absolute;
  top: 20px;
  left: 150px;
}

/***************************************************$
/*partieabout*/
#abou {
  color: rgb(131, 206, 162);
}

/*-partie logo 2-*/
.scd_logo {
  top: 70px;
  left: 615px;
}
/*-partieh1-*/
.logo2 {
  display: flex;
  justify-content: center;
}
.logo2 h2 {
  color: #00b39b;
  position: relative;
  top: 100px;
  letter-spacing: 0.3px;
  margin-right: 70px;
}
/*les deux para-*/
.para {
  display: flex;
  margin: 20px 20px 50px 150px;
  justify-content: center; /*a voir*/
}
.para p {
  display: block;

  color: #747474;
  font-size: 16px;
  line-height: 1.3;
}
/*-flex pour les deux container*/
.partiedoct_patient {
  display: flex;
}
.container {
  border-radius: 10px;
}

/*firstcontainer*/
.first_container {
  background: #00b39b;
}

.container_text_first_container {
  font-size: 1.625em;
  color: #fff;
  margin-top: 0.3em;
}

/*secnd container*/
.secnd_container {
  background: #3d83df;
}
.services_docteurs {
  font-size: 1.625em;
  color: #fff;
  margin-top: 0.3em;
}

/*flex our centrer les deux images*/
.partie_lien {
  display: flex;
}

.section__inner {
  zoom: 1;

  padding: 0 20px;
}
.text_company {
  float: left;
  width: 33%;
  font-size: 1.625em;
  color: #00b39b;
  margin-right: 20px;
}
.section-2 {
  float: left;
  width: 67%;
  list-style: none;
  color: #747474;
}
.section-2 li {
  font-size: 1rem;
  display: inline-block;
  width: 168px;
  padding: 7px 10px;
  margin-right: 10px;
  font-size: 20px;
}
/*la derniere partie*/

.d {
  background: #e5faf8;
  background-image: linear-gradient(
    -45deg,
    rgba(0, 204, 177, 0.01) 5%,
    rgba(61, 199, 223, 0.1)
  );
  padding: 1.875em 0 0.625em;
  overflow: hidden;
  margin: 3.125rem auto 5.5rem;
  display: flex;
}

.text_bleu {
  color: #348177;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 45px 0 0 150px;
  font-size: 30px;
}
.text_bleu p {
  margin: 1.6em 0;
  color: #747474;
  font-size: 20px;
}
/*le grides*/
.col-2 {
  min-width: 64%;
  display: flex;
}
.stats__grid .fade-elements {
  display: flex;
  background-color: lawngreen;
  flex-wrap: wrap;
}

.fade-elements__visible {
  background-color: rgb(255, 255, 255);
  width: 240px;
  border: 1px solid transparent;
  box-shadow: 0 5px 10px 0 rgb(190, 187, 187);
  padding: 50px;
  margin: 20px;
  border-radius: 7px;
  display: flex;
}
.stats__item {
  text-align: center;
}

.stats__item h3 {
  color: #00b39b;
  margin: 0.5em 0;
}
.stats__item p {
  text-align: center;
}

/*partie before footer*/

/*partie text*/
.f {
  display: flex;
}
.contenaire_images {
  display: flex;
  flex-wrap: wrap;
  padding-left: 110px;
  padding-top: 20px;
}
.text_lot_images {
  text-align: center;
  color: #00b39b;
  letter-spacing: 0.3px;
}
.text_lot_images p {
  text-align: center;
  color: #747474;
  margin: 1.6em 0;
  font-size: 20px;
}
.images_lot_images {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: 40px;
  padding-bottom: 35px;
  background: #fff;

  margin-bottom: 30px;
}
.images_lot_images:hover {
  box-shadow: 0 5px 10px 0 rgb(190, 187, 187);
  border-radius: 8px;
}

.office__image img {
  display: block;
  margin: 0 auto;
  width: 430px;
  height: 360px;
}
/*partieboutton*/
.office__desc {
  color: #747474;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}
.btn--small {
  padding: 5px;
  border: solid #3d83df;
  border-radius: 6px;
  background-color: #3d83df;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: 0.04em;
  text-decoration: none;
}
/*footer*/
.section_footer {
  border-top: 1px solid #eef2f2;

  color: #ababab;
  text-align: center;
}
.foot {
  margin: 20px;
}
.section_footer p {
  font-size: 17px;
  line-height: 35px;
}
